
.banner {
    height: 300px;
    overflow: hidden;
}

.banner__image {
    width: 100%; /* Чтобы изображение занимало всю ширину блока */
    height: auto; /* Автоматическая высота для поддержки соотношения сторон */
}